<include file="Public/min-header" />
<div class="wrapper">
    <include file="Public/breadcrumb"/>
    <section class="content ">
        <!-- Main content -->
        <div class="container-fluid">
            <div class="pull-right">
                <a href="javascript:history.go(-1)" data-toggle="tooltip" title="" class="btn btn-default" data-original-title="返回角色列表"><i class="fa fa-reply"></i></a>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-list"></i> 添加角色</h3>
                </div>
                <div class="panel-body ">
                    <!--表单数据-->
                    <form method="post" id="adminHandle" action="{:U('Rbac/do_addRole')}" onsubmit="return adsubmit();">
                        <!--通用信息-->
                        <div class="tab-content col-md-10">
                            <div class="tab-pane active" id="tab_tongyong">
                                <table class="table table-bordered">
                                    <tbody>
                                    <tr>
                                        <td class="col-sm-2">角色名称：</td>
                                        <td class="col-sm-8">
                                            <input type="text" class="form-control" name="name" value="" >

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>角色描述：</td>
                                        <td >
                                            <input type="text" class="form-control" name="remark" value="" >

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>开启状态：</td>
                                        <td>
                                            <select name="status">
                                                <option value="1" selected >开启</option>
                                                <option value="0">关闭</option>
                                            </select>
                                        </td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <td>
                                        </td>
                                        <td class="text-right">
                                            <input class="btn btn-primary" type="submit" value="添加">
                                        </td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </form><!--表单数据-->
                </div>
            </div>
        </div>
    </section>
</div>
<script>
    function adsubmit(){
        if($('input[name=name]').val() == ''){
            layer.msg('角色名称不能为空！', {icon: 2,time: 1000});   //alert('少年，用户名不能为空！');
            $('input[name=name]').focus();
            return false;
        }else
        {
            return true;
        }
    }
</script>
</body>
</html>