<include file="Public/min-header"/>
<style type="text/css">
	th{text-align: center}
	td{text-align: center}
</style>
<div class="wrapper">
	<include file="Public/breadcrumb"/>
	<section class="content">
		<div class="row">
			<div class="col-xs-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">
							<i class="fa fa-list"></i>&nbsp;角色管理
						</h3>
					</div>
					<div class="panel-body">
						<nav class="navbar navbar-default">
							<div class="collapse navbar-collapse">
								<form class="navbar-form form-inline" role="search">
									<div class="form-group pull-right">
										<a href="{:U('Rbac/addRole')}" class="btn btn-primary pull-right"><i class="fa fa-plus"></i>添加角色</a>
									</div>
								</form>
							</div>
						</nav>
						<div class="table-responsive">
							<table  class="table table-bordered table-striped">
								<thead>
								<tr>
									<th>角色ID</th>
									<th>角色名称</th>
									<th>角色说明</th>
									<th>状态</th>
									<th>操作</th>
								</tr>
								</thead>
								<tbody>
								<volist name="roleList" id="vo">
									<tr>
										<td>{$vo.id}</td>
										<td>{$vo.name}</td>
										<td>{$vo.remark}</td>
										<td>
											<if condition="$vo['status'] eq 0">
												<space style="color: red">关闭</space>
												<else/>
												<space style="color: green">开启</space>
											</if>
										</td>
										<td class="text-center">
											<a class="btn btn-primary"  href="{:U('Rbac/editRole',array('id'=>$vo['id']))}"><i class="icon-edit">&nbsp;修&nbsp;改&nbsp;</i></a>
											&nbsp;&nbsp;
											<a class="btn btn-primary"  href="{:U('Rbac/access',array('rid'=>$vo['id']))}"><i class="icon-edit">&nbsp;配&nbsp;置&nbsp;权&nbsp;限&nbsp;</i></a>
											&nbsp;&nbsp;
											<a class="btn btn-danger" onclick="return confirm('此操作不可恢复，确认删除？');return false;"  href="{:U('Rbac/delRole',array('id'=>$vo['id']))}"><i class="icon-edit">&nbsp;删&nbsp;除&nbsp;</i></a>
										</td>
									</tr>
								</volist>
								</tbody>
							</table>
						</div>
						<div class="row">
							<div class="col-sm-6 text-left"></div>
							<div class="col-sm-6 text-right"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
</body>
</html>