<div style="height:55px; line-height:55px; clear:both;"></div>
<style type="text/css">
.vf_4{background:url(__PUBLIC__/images/paihangbang.png) no-repeat;background-position:0 0px;background-size:26px;26px;}	
.vf_1{background:url(__PUBLIC__/images/index.png) no-repeat;background-position:0 0px;background-size:26px;26px;}	
.vf_3{background:url(__PUBLIC__/images/user.png) no-repeat;background-position:0 0px;background-size:26px;26px;}	
.vf_5{background:url(__PUBLIC__/images/shop.png) no-repeat;background-position:0 0px;background-size:26px;26px;}	
</style>
<div class="v_nav">
	<div class="vf_nav">
		<ul>
			<li> <a href="{:U('Index/index',array('first'=>1))}">
			    <i class="vf_1"></i>
			    <span>首页</span></a></li>
			<!-- <li><a href="tel:{$tpshop_config['shop_info_phone']}">
			    <i class="vf_2"></i>
			    <span>客服</span></a></li> -->
			<li><a href="{:U('User/index')}">
			    <i class="vf_3"></i>
			    <span>我的庄园</span></a></li>
			<li>
			<a href="{:U('User/aixin')}">
			   <i class="vf_4"></i>
			   <span>排行榜</span>
			   </a>
			</li>
			<li><a href="{:U('Goods/index')}">
			    <i class="vf_5"></i>
			    <span>沙漠粮仓</span></a>
			</li>
		</ul>
	</div>
</div> 

