<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" name="viewport">
    <title>二维码展示页面</title>
    <link href="__PUBLIC__/mobile/ewm_css/base.css" type="text/css" rel="stylesheet">
    <link href="__PUBLIC__/mobile/ewm_css/common.css" type="text/css" rel="stylesheet">
    <link href="__PUBLIC__/mobile/ewm_css/page05.css" rel="stylesheet" type="text/css" />
    <script src="__PUBLIC__/jquery-2.1.4/jquery.min.js" type="text/javascript"></script>
    <script src="__PUBLIC__/mobile/js/mobile.js" type="text/javascript"></script>
</head>
<body>
<form>
    <div class="wrapper">
        <div class="pay_mainbox mod">
            <div class="pay_mod">
                <div class="pay_title">请长按二维码发送给您的代付人</div>
                <div class="pay_info">
                    <div style="text-align: center;"><img style="width: 120px;height: 120px;" src="__PUBLIC__/support_ewm/js_support<?php echo $sid;?>.png"></div>
                </div>
            </div>
            <div class="pay_mainbox mod">
                <div class="pay_mod" style="text-align: center">
                    <div class="pay_title"><a href="{:U('User/index')}">返回我的庄园</a></div>
                </div>
            </div>
        </div>

    </div>
</form>
<include file="Public/wxshare"/>
</body>
</html>