
<form method="post" enctype="multipart/form-data" target="_blank" id="form-order">
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);"></td>
                <td class="text-center">
                    <a>招聘标题</a>
                </td>
                <td class="text-center">
                    <a>招聘职位</a>
                </td>
                <td class="text-center">
                    <a>聘任部门</a>
                </td>
                <td class="text-center">
                    <a>招聘薪资</a>
                </td>
                <td class="text-center">
                    <a>招聘人数</a>
                </td>
                <td class="text-center">
                    <a>信息发布者</a>
                </td>
                <td class="text-center">
                    <a href="javascript:sort('jointime');">添加时间</a>
                </td>
                <td class="text-center"><a>操作</a></td>
            </tr>
            </thead>
            <tbody>
            <volist name="recruiList" id="list">
                <tr>
                    <td class="text-center">
                        <input type="checkbox" name="selected[]" value="6">
                        <input type="hidden" name="shipping_code[]" value="flat.flat">
                    </td>
                    <td class="text-center">{$list.title}</td>
                    <td class="text-center">
                        {$list.position}
                    </td>
                    <td class="text-center">{$list['Department']['title']}</td>
                    <td class="text-center">{$list.salary}</td>
                    <td class="text-center">
                        {$list.nums}(人)
                    </td>
                    <td class="text-center">{$list.publisher}</td>
                    <td class="text-center">
                        <notempty name="list['regtime']">
                            {$list.regtime|date='Y-m-d H:i',###}
                        </notempty>
                    </td>
                    <td class="text-left">
                        <a href="{:U('Department/recruiDetail',array('id'=>$list['id']))}" data-toggle="tooltip" title="" class="btn btn-info" data-original-title="查看详情"><i class="fa fa-eye">查看详情</i></a>
                        <a href="javascript:void(0);" onclick="del({$list['id']})" class="btn btn-danger" title="删除"><i class="fa fa-trash-o"></i>删除</a> 
                    </td>
                </tr>
            </volist>
            </tbody>
        </table>
    </div>
</form>
<div class="row">
    <div class="col-sm-6 text-left"></div>
    <div class="col-sm-6 text-right">{$page}</div>
</div>
<script>
    $(".pagination  a").click(function(){
        var page = $(this).data('p');
        ajax_get_table('search-form2',page);
    });

    //删除操作
    function del(id,order_status){
        //alert(id);
        var url = "{:U('Department/recuidel')}";
    
        if(!confirm('确定要删除吗?'))
            return false;
        $.ajax({
            type : "GET",
            url:url,//+tab,
            data : {id:id},
            success: function(v){
                 var v =  eval('('+v+')');
                if(v.hasOwnProperty('status') && (v.status == 1))
                    location.href='{:U('Department/recruiList')}';
                else
                layer.msg(v.msg, {icon: 2,time: 1000}); 
            }
        });
        return false;
    
    }
</script>