<include file="Public/min-header"/>
<link href="__PUBLIC__/plugins/daterangepicker2/daterangepicker-bs3.css" rel="stylesheet" type="text/css" />
<script src="__PUBLIC__/plugins/daterangepicker2/moment.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/plugins/daterangepicker2/daterangepicker.js" type="text/javascript"></script>
<!--物流配置 css -start-->
<style>
    ul.group-list {
        width: 96%;min-width: 1000px; margin: auto 5px;list-style: disc outside none;
    }
    ul.group-list li {
        white-space: nowrap;float: left;
        width: 150px; height: 25px;
        padding: 3px 5px;list-style-type: none;
        list-style-position: outside;border: 0px;margin: 0px;
    }
</style>
<link rel="stylesheet" href="__PUBLIC__/kindeditor/themes/default/default.css" />
<script src="__PUBLIC__/kindeditor/kindeditor-all.js"></script>
<script src="__PUBLIC__/kindeditor/lang/zh-CN.js"></script>
<script type="text/javascript">
    /*
     * 上传之后删除组图input
     * @access   public
     * @val      string  删除的图片input
     */
    function ClearPicArr2(obj)
    {
        $(obj).parent().remove(); // 删除完服务器的, 再删除 html上的图片
    }

    KindEditor.ready(function(K) {
        var editor = K.editor({
            allowFileManager : true
        });
        K.create('textarea[name="content"]', {
            allowFileManager : true,
            //ajax提交表单时获取tesxarea值
            afterBlur: function(){this.sync();}
        });

        
    });
</script>
<!--以上是在线编辑器 代码  end-->

<div class="wrapper">
    <include file="Public/breadcrumb"/>
    <section class="content">
        <!-- Main content -->
        <div class="container-fluid">
            <div class="pull-right">
                <a href="javascript:history.go(-1)" data-toggle="tooltip" title="" class="btn btn-default" data-original-title="返回"><i class="fa fa-reply"></i></a>
                <!--<a href="javascript:;" class="btn btn-default" data-url="http://www.tp-shop.cn/Doc/Index/article/id/1007/developer/user.html" onclick="get_help(this)"><i class="fa fa-question-circle"></i> 帮助</a>-->
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-list"></i>招聘信息详情</h3>
                </div>
                <div class="panel-body">
                    <!--表单数据-->
                    <form method="post" id="addEditProjchForm" action="__CONTROLLER__/recruiDetail">

                        <!--通用信息-->
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab_tongyong">

                                <table class="table table-bordered">
                                    <tbody>
                                    <tr>
                                        <td>招聘标题:</td>
                                        <td>
                                            <input type="text" value="{$recruiArr.title}" name="title" class="form-control" style="width:550px;" max="50"/>
                                            <span id="err_title" style="color:#F00; display:none;"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>招聘职位:</td>
                                        <td>
                                            <input type="text" value="{$recruiArr.position}" name="position" class="form-control" style="width:550px;" max="50"/>
                                            <span id="err_position" style="color:#F00; display:none;"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>招聘薪资:<span style="color: #eee;font-size: 12px;">(如:3000~10000)</span></td>
                                        <td id="order-status">
                                            <input type="text" value="{$recruiArr.salary}" name="salary" class="form-control" style="width:550px;" max="50"/>
                                            <span id="err_salary" style="color:#F00; display:none;"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>待遇:<span style="color: #eee;font-size: 12px;">(如:五险一金,双休)</span></td>
                                        <td>
                                            <input type="text" value="{$recruiArr.treatment}" name="treatment" class="form-control" style="width:550px;" max="50"/>
                                            <span id="err_treatment" style="color:#F00; display:none;"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>招聘人数:<span style="color: #eee;font-size: 12px;">(单位(人))</span></td>
                                        <td>
                                            <input type="number" value="{$recruiArr.nums}" name="nums" class="form-control" style="width:150px;" onkeyup="this.value=this.value.replace(/[^\d.]/g,'')" onpaste="this.value=this.value.replace(/[^\d.]/g,'')" />
                                            <span id="err_nums" style="color:#F00; display:none;"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>应聘者所需学历:</td>
                                        <td>
                                            <input type="radio" name="schooling" id="status_on"  value="1" <if condition="$recruiArr['schooling'] eq 1">checked</if> />
                                            <label for="status_on" class="rad_1">中专</label>
                                            <input type="radio" name="schooling" id="status_off2" value="2" <if condition="$recruiArr['schooling'] eq 2">checked</if>/>
                                            <label for="status_off2" class="rad_1">大专</label>
                                            <input type="radio" name="schooling" id="status_off3" value="3" <if condition="$recruiArr['schooling'] eq 3">checked</if>/>
                                            <label for="status_off3" class="rad_1">本科</label>
                                            <input type="radio" name="schooling" id="status_off4" value="4" <if condition="$recruiArr['schooling'] eq 4">checked</if>/>
                                            <label for="status_off4" class="rad_1">硕士</label>
                                            <input type="radio" name="schooling" id="status_off5" value="5" <if condition="$recruiArr['schooling'] eq 5">checked</if>/>
                                            <label for="status_off5" class="rad_1">博士</label>
                                            <input type="radio" name="schooling" id="status_off" value="0" <if condition="$recruiArr['schooling'] eq 0">checked</if>/>
                                            <label for="status_off" class="rad_1">不限</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>应聘者所需经验:</td>
                                        <td>
                                            <input type="radio" name="experience" id="status_on_userkind1"  value="1" <if condition="$recruiArr['experience'] eq 1">checked</if>/>
                                            <label for="status_on_userkind1" class="rad_1">可接受应届毕业生</label>
                                            <input type="radio" name="experience" id="status_on_userkind2"  value="2" <if condition="$recruiArr['experience'] eq 2">checked</if>/>
                                            <label for="status_on_userkind2" class="rad_1">1~3年</label>
                                            <input type="radio" name="experience" id="status_on_userkind3"  value="3" <if condition="$recruiArr['experience'] eq 3">checked</if>/>
                                            <label for="status_on_userkind3" class="rad_1">3~5年</label>
                                            <input type="radio" name="experience" id="status_on_userkind4"  value="4" <if condition="$recruiArr['experience'] eq 4">checked</if>/>
                                            <label for="status_on_userkind4" class="rad_1">5年以上</label>
                                            <input type="radio" name="experience" id="status_off_userkind" value="0" <if condition="$recruiArr['experience'] eq 0">checked</if>checked="checked"/>
                                            <label for="status_off_userkind" class="rad_1">不限</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>聘任部门:</td>
                                        <td >
                                            <select name="dep_id" id="fruit" class="input-sm" style="width:100px;">
                                                <foreach name="deparList" item="v" >
                                                    <if condition="($recruiArr[dep_id] eq $v[id])">
                                                    <option value="{$v[id]}" selected="selected">{$v[title]}</option>
                                                        <else/>
                                                    <option value="{$v[id]}" >{$v[title]}</option>
                                                </if>
                                                </foreach>
                                            </select>
                                            <span id="err_dep_id" class="error" style="color:#F00; display:none;"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>发布者:</td>
                                        <td id="order-status">
                                            <input type="text" value="{$recruiArr.publisher}" name="publisher" class="form-control" style="width:550px;" max="50"/>
                                            <span id="err_publisher" style="color:#F00; display:none;"></span>  
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>职位描述:</td>
                                        <td width="85%">
                                            <textarea class="span12 ckeditor" style="width: 700px;height:500px;" id="content" name="content" title="">{$recruiArr.content}</textarea>
                                            <span id="err_content" class="error" style="color:#F00; display:none;"></span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!--其他信息-->
                        </div>
                        <div class="pull-left">
                            <input type="hidden" name="id" value="{$recruiArr['id']}">
                            <button class="btn btn-info" title="" data-toggle="tooltip" type="button" data-original-title="保存" id="bao"><i class="ace-icon fa fa-check bigger-110"></i>保存</button>
                        </div>
                    </form><!--表单数据-->
                </div>
            </div>
        </div>    <!-- /.content -->
    </section>
</div>
<script>
    
    $("#bao").click(function(){
        // alert('ssss');
        var title = $("input[name='title']").val();
        var position = $("input[name='position']").val();//招聘职位
        var salary = $("input[name='salary']").val();//招聘薪资
        var treatment = $("input[name='treatment']").val();//待遇
        var nums = $("input[name='nums']").val();//招聘人数
        var publisher = $("input[name='publisher']").val();//发布者
        var content = $("textarea[name='content']").val();//职位描述

        var error = '';
        if (title==0) {
            error += '必须添加招聘标题,   ';
            $("#err_title").html('必须添加招聘标题');
            $("#err_title").css('display','block');
        }
        if (position==0) {
            error += '必须添加招聘职位,   ';
            $("#err_position").html('必须添加招聘职位');
            $("#err_position").css('display','block');
        }
        if (salary==0) {
            error += '必须添加招聘薪资,    ';
            $("#err_salary").html('必须添加招聘薪资');
            $("#err_salary").css('display','block');            
        }
        if (treatment==0) {
            error += '必须添加待遇,   ';
            $("#err_treatment").html('必须添加待遇');
            $("#err_treatment").css('display','block');
        }
        if (nums==0) {
            error += '招聘人数不得小于1人,   ';
            $("#err_nums").html('招聘人数不得小于1人');
            $("#err_nums").css('display','block');
        }
        if (publisher<=0) {
            error += '必须写招聘信息发布者,   ';
            $("#err_publisher").html('必须写招聘信息发布者');
            $("#err_publisher").css('display','block');            
        }
        if (content<=0) {
            error += '必须添加职位描述,   ';
            $("#err_content").html('必须添加职位描述');
            $("#err_content").css('display','block');            
        }
        if(error){
            alert(error);
            //alert(error);
            return false;
        }else{
            $("#addEditProjchForm").submit();
        }

    

    });

    

    /*
     * 以下是图片上传方法
     */
    // 上传商品图片成功回调函数
    function call_back(fileurl_tmp){
        $("#original_img").val(fileurl_tmp);
        $("#original_img2").attr('href', fileurl_tmp);
    }




    // 属性输入框的加减事件
    function addAttr(a)
    {
        var attr = $(a).parent().parent().prop("outerHTML");
        attr = attr.replace('addAttr','delAttr').replace('+','-');
        $(a).parent().parent().after(attr);
    }
    // 属性输入框的加减事件
    function delAttr(a)
    {
        $(a).parent().parent().remove();
    }

</script>
</body>
</html>