<!DOCTYPE html >
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{$shop_config['store_name']}</title>
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/mobile/css/LArea.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/mobile2/css/Mobil_hea_fot.css"/>
    <script src="__PUBLIC__/jQuery-2.1.4/jquery.min.js"></script>
    <script src="__PUBLIC__/mobile/js/LArea.js"></script>
    <script src="__PUBLIC__/layer/layer.js"></script>
    <script src="__PUBLIC__/bootstrap/js/bootstrap.js"></script>
</head>
<style type="text/css">
    body{background: #00b067;text-align: center;}
    .medal{width: 100%;margin-top: 10%;}
    .show_text{width: 70%;margin: 0 auto;text-align: center;color: #fff;}
</style>
<body>
<header>
    <a class="back" href="{:U('Index/index')}" >
        <span class="glyphicon glyphicon-menu-left"></span>
        <span class="text">返回</span>
    </a>
    <h4>支付成功</h4>
</header>
<img class="medal" src="__PUBLIC__/images/pay_img1.png">
<div class="show_text">
    <p>感谢您为治沙做出的贡献</p>
</div>
</body>
</html>