<!DOCTYPE html >
<html style="height: 100%;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>酒标</title>
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/bootstrap/css/bootstrap.css"/>
    <script src="__PUBLIC__/jQuery-2.1.4/jquery.min.js"></script>
</head>
<style type="text/css">
    body{height: 100%;}
    a, a:hover {text-decoration: none;}
    img{width: 100%;}
    .default{position: fixed;bottom: 11%;left: 30%;width: 40%;background-color: #ccdada;color: #004540;border-radius:4px;text-align: center;height: 6vh;line-height: 6vh;font-size: 3.2vh;}
    
</style>
<body>
<img class="medal" src="__PUBLIC__/images/wineinfo02.jpg">
<div class="show_text">

    <a class="default" href="{:U('index/index')}" >点击进入</a>
</div>
</body>
</html>