<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=9,Chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <script type="text/javascript" src="__PUBLIC__/js/jquery-1.8.3.min.js" ></script>
    <script type="text/javascript" src="__PUBLIC__/js/common.js" ></script>
    <link rel="stylesheet" href="__PUBLIC__/mobile/mzcss/base.css" />
    <link rel="stylesheet" href="__PUBLIC__/mobile/mzcss/common.css" />
    <title>免责条款</title>
</head>
<body>
<div id="wrapper" class="pb20 bx">
    <header class="header" style="background: #07D873">
        <h1>免责声明</h1>
    </header>
    <div class="mainbox">
        <div class="news">
            <section>
                {$noticeArr['desc']}
            </section>
        </div>
    </div>
    <!--<div class="container-fluid">
        <div class="row">
            <div class="col-xs-9">
                {$noticeArr.desc}
            </div>
        </div>
    </div>-->
    <header class="header" style="background: #07D873">
        <a href="javascript:void(0);" onclick="history.back();"><h1>返回</h1></a>
    </header>
</div>
</body>
</html>