<!DOCTYPE html >
<html>
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>我的庄园</title>
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/mobile2/css/Mobil_hea_fot.css"/>
    <style>

    </style>
</head>
<header>
    <a class="back" href=" " >
        <span class="glyphicon glyphicon-menu-left"></span>
        <span class="text">返回</span>
    </a>
    <h4>认领</h4>
</header>
<body style="margin:0px auto;overflow: auto;height:120vw;">
    <div class="dz">
        <span style="color:#cccccc;font-size:16vw;">+</span><span style="color:#cccccc;font-size:8vw;">新建地址</span>
    </div>
<include file="Public/footer"/>
</body>
</html>