<!DOCTYPE html >
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>我的认领</title>
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/mobile2/css/Mobil_hea_fot.css"/>
    <script src="__PUBLIC__/jquery-2.1.4/jquery.min.js"></script>
    <script src="__PUBLIC__/layer/layer.js"></script>
</head>
<style type="text/css">
    .pics{float:left;margin-top:0;width:100%;height:42vh;background-color:#0A0A0A}
    .yellow{float:left;margin-top:3vh;width:100%;background-color: #07D873;border-bottom: 1px solid white;}
    .g2{float:left;margin-left:7vw;width:86vw;}
    /*.g2{float:left;top:23%;left:7%;height:13%;width:86%;border-bottom: 1px solid white;}*/
    .renling:focus{
        outline: none;
    }
</style>
<header>
    <a class="back" href="{:U('index')}" >
        <span class="glyphicon glyphicon-menu-left"></span>
        <span class="text">返回</span>
    </a>
    <h4>我的认领</h4>
</header>
<script type="text/javascript">
        function copyText(a,b) {
//            alert(a);
            layer.open({
                type: 2,
                title: '赠送信息',
                shadeClose: true,
                offset: '60%',
                shade: 0.8,
                area: ['100%', '40%'],
                content: "{:U('User/wxpay')}" //iframe的url
            });
        }
</script>
<body style="background-color:#07D873;margin:0 auto;">
    <div class="pics">
        <img src="__PUBLIC__/images/logo.png" style="width:100%;height:100%">
    </div>
    <div class="yellow">
        <!--<foreach name="pro" key="k" item="v" >-->
        <!--<div class="g1">-->
            <!--<span style="color:white;font-size: 5vw;">{$k}年 认领了{$v}棵葡萄树</span>-->
            <!--<button class="renling" style="position:absolute;left:75%;top:20%;width:20%;background-color: #07D873;color:white;border-radius: 10vh;border:1px solid white;">转赠</button>-->
        <!--</div>-->
            <!--</foreach>-->
        <foreach name="pro" key="k" item="v" >
        <div class="g2">
            <span style="color:white;font-size: 5vw;float:left;margin-top: 0vh;">{$k}年 认领了{$v}棵葡萄树</span>
            <button class="renling" onclick="copyText({$k},{$v})" style="float:left;margin-top:-4.2vh;margin-left:65vw;width:20vw;background-color: #07D873;color:white;border-radius: 10vh;border:1px solid white;">转赠</button>
        </div>
        </foreach>

    </div>
    <span style="float:left;margin-left:6vw;margin-top:2vh;color:white;font-size: 5vw">共{$num}棵葡萄树</span>
<include file="Public/footer"/>
</body>
</html>