<!DOCTYPE html >
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>爱心排行榜</title>
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/mobile2/css/Mobil_hea_fot.css"/>
</head>
<style type="text/css">
    .lie{width:100%;margin-top: 10%;float:left;background-color: #F7F7F7}
    .ll{float:left;width:100%;height:25vw;border-bottom: 1px solid #a1a1a1;}
    /*.ll span{float:left;font-size: 7vw;color:#9E9F9F;margin-top: 5vw;margin-left: 5vw;}*/
    /*.ll img{float:left;border-radius: 100%;width:23%;height:90%;margin-left:3vw;margin-top:2%}*/
    .ll ul{float:left;line-height:8vw;width:33%;margin-left: 1vw;}
    .ai{float:right;margin-right:3vw;margin-top:2vh;}
    .ai1{float:right;margin-top:1vh;border: 1.2px solid green;border-radius: 10%;float:right;padding: 0px 3px;}
    /*.ai2{float:right;width:100%;}*/

</style>
<header>
    <a class="back" href=" " >
        <span class="glyphicon glyphicon-menu-left"></span>
        <span class="text">返回</span>
    </a>
    <h4>爱心排行榜</h4>
</header>
<body style="margin:0 auto;">
    <div class="lie">
        <div class="ll">
            <span style="float:left;font-size: 7vw;color:#9E9F9F;margin-top: 7vw;margin-left: 2vw;">1</span>
            <img src="__PUBLIC__/images/tj8.jpg" style="float:left;border-radius: 100%;width:20%;height:80%;margin-left:2vw;margin-top:2%">
            <ul>
                <li><span style="float:left;margin-top:15%;color:#9E9F9F;font-size:5vw">张先生</span></li>
                <li><span style="float:left;color:#9E9F9F;font-size:2vw;">爱心编号:0120120</span></li>
            </ul>
            <div class="ai">
                <div class="ai1">
                    <img src="__PUBLIC__/images/xxy.png" style="width:25px;height:25px;margin-top:7px;margin-right:3px;float:left;">
                    <span style="font-size:3vh;color:#07D873;">10222</span>
                </div>
                <div class="ai2">
                    <span style="float:right;margin-right:7vw;margin-top:-2vw;font-size: 2vw;color:#898989">爱心值</span>
                </div>
            </div>
        </div>
        <div class="ll">
            <span style="float:left;font-size: 7vw;color:#9E9F9F;margin-top: 7vw;margin-left: 2vw;">1</span>
            <img src="__PUBLIC__/images/tj8.jpg" style="float:left;border-radius: 100%;width:20%;height:80%;margin-left:2vw;margin-top:2%">
            <ul>
                <li><span style="float:left;margin-top:15%;color:#9E9F9F;font-size:5vw">张先生</span></li>
                <li><span style="float:left;color:#9E9F9F;font-size:2vw;">爱心编号:0120120</span></li>
            </ul>
            <div class="ai">
                <div class="ai1">
                    <img src="__PUBLIC__/images/xxy.png" style="width:25px;height:25px;margin-top:7px;margin-right:3px;float:left;">
                    <span style="font-size:3vh;color:#07D873;">10222</span>
                </div>
                <div class="ai2">
                    <span style="float:right;margin-right:7vw;margin-top:-2vw;font-size: 2vw;color:#898989">爱心值</span>
                </div>
            </div>
        </div>
        <div class="ll">
            <span style="float:left;font-size: 7vw;color:#9E9F9F;margin-top: 7vw;margin-left: 2vw;">1</span>
            <img src="__PUBLIC__/images/tj8.jpg" style="float:left;border-radius: 100%;width:20%;height:80%;margin-left:2vw;margin-top:2%">
            <ul>
                <li><span style="float:left;margin-top:15%;color:#9E9F9F;font-size:5vw">张先生</span></li>
                <li><span style="float:left;color:#9E9F9F;font-size:2vw;">爱心编号:0120120</span></li>
            </ul>
            <div class="ai">
                <div class="ai1">
                    <img src="__PUBLIC__/images/xxy.png" style="width:25px;height:25px;margin-top:7px;margin-right:3px;float:left;">
                    <span style="font-size:3vh;color:#07D873;">10222</span>
                </div>
                <div class="ai2">
                    <span style="float:right;margin-right:7vw;margin-top:-2vw;font-size: 2vw;color:#898989">爱心值</span>
                </div>
            </div>
        </div>
     </div>
<include file="Public/footer"/>
</body>
</html>