<include file="Public/min-header"/>
<!--物流配置 css -start-->
<style>
    ul.group-list {
        width: 96%;min-width: 1000px; margin: auto 5px;list-style: disc outside none;
    }
    ul.group-list li {
        white-space: nowrap;float: left;
        width: 150px; height: 25px;
        padding: 3px 5px;list-style-type: none;
        list-style-position: outside;border: 0px;margin: 0px;
    }
</style>
<!--物流配置 css -end-->
<link rel="stylesheet" href="__PUBLIC__/kindeditor/themes/default/default.css" />
<script src="__PUBLIC__/kindeditor/kindeditor-all.js"></script>
<script src="__PUBLIC__/kindeditor/lang/zh-CN.js"></script>
<script type="text/javascript">
    /*
     * 上传之后删除组图input
     * @access   public
     * @val      string  删除的图片input
     */
    function ClearPicArr2(obj)
    {
        $(obj).parent().remove(); // 删除完服务器的, 再删除 html上的图片
    }

    

</script>

<!--以上是在线编辑器 代码  end-->
<div class="wrapper">
    <include file="Public/breadcrumb"/>
    <section class="content">
        <!-- Main content -->
        <div class="container-fluid">
            <div class="pull-right">
                <a href="javascript:history.go(-1)" data-toggle="tooltip" title="" class="btn btn-default" data-original-title="返回"><i class="fa fa-reply"></i></a>
                <!--<a href="javascript:;" class="btn btn-default" data-url="http://www.tp-shop.cn/Doc/Index/article/id/1007/developer/user.html" onclick="get_help(this)"><i class="fa fa-question-circle"></i> 帮助</a>-->
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-list"></i>友情链接</h3>
                </div>
                <div class="panel-body">
                    <!--表单数据-->
                    <form method="post" id="addEditProjForm" action="__CONTROLLER__/linkdetail">

                        <!--通用信息-->
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab_tongyong">

                                <table class="table table-bordered">
                                    <tbody>                                 

                                    <tr>
                                        <td>友情链接名称:<i style="color: red;">*</i></td>
                                        <td>
                                            <input type="text" value="{$linkArr.name}" name="name" maxlength="20" class="form-control" style="width:50vw;"/>
                                            <span id="err_name" class="error" style="color:#F00; display:none;"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>友情链接地址:<i style="color: red;">*</i></td>
                                        <td>
                                            <input type="text" value="{$linkArr.url}" name="url" maxlength="200" class="form-control" style="width:50vw;"/>
                                            <span id="err_url" class="error" style="color:#F00; display:none;"></span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!--其他信息-->
                        </div>
                        <div class="pull-left">
                            <input type="hidden" name="id" value="{$linkArr.id}">
                            <button class="btn btn-info" title="" data-toggle="tooltip" type="button" data-original-title="保存" id="bao"><i class="ace-icon fa fa-check bigger-110"></i>保存</button>
                        </div>
                    </form><!--表单数据-->
                </div>
            </div>
        </div>    <!-- /.content -->
    </section>
</div>
<script>
    $("#bao").click(function(){

        var name = $("input[name='name']").val();
        var url = $("input[name='url']").val();


        //var proj_price = $("input[name='comp_price']").val();
        var error = '';
        //alert(comp_name+","+comp_desc+","+comp_phone+","+comp_email+","+log_img+","+area+","+detailed+","+comp_images+","+comp_content);

        $(".error").css('display','none');
  
        if (!name) {
            error += '必须添加友情链接名称,   ';
            $("#err_name").html('必须添加友情链接名称');
            $("#err_name").css('display','block');
        }
        if (!url) {
            error += '必须添加友情链接地址,   ';
            $("#err_url").html('必须添加友情链接地址');
            $("#err_url").css('display','block');
        }
  

        if(error){
            alert(error);
            return false;
        }else{
            $("#addEditProjForm").submit();
        }
//

    })

    /*
     * 以下是图片上传方法
     */
    // 上传商品图片成功回调函数
    function call_back(fileurl_tmp){
        $("#original_img").val(fileurl_tmp);
        $("#original_video").val(fileurl_tmp);
        $("#original_img2").attr('href', fileurl_tmp);
    }

    // 属性输入框的加减事件
    function addAttr(a)
    {
        var attr = $(a).parent().parent().prop("outerHTML");
        attr = attr.replace('addAttr','delAttr').replace('+','-');
        $(a).parent().parent().after(attr);
    }
    // 属性输入框的加减事件
    function delAttr(a)
    {
        $(a).parent().parent().remove();
    }


</script>
</body>
</html>